<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
   <!--  <style>
      img {position: absolute; z-index: -1;}
      canvas {width: 100%; height: 100%}
    </style> -->
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyDID9IUIoiIKrMhfosJMstsdsb1QF8xJqQ&libraries=places"></script>
  </head>
  <body ng-app="starter">
    <ion-pane>
      <!-- <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar> -->
      <ion-content ng-controller="MapController">
        <div class="mid" id="map" data-tap-disabled="true"></div>
      </ion-content>
      <div id="camera" ng-controller="CameraCtrl">
        <div ng-class="myClass" ng-show="show">
          <div class="item item-image">
            <img ng-src="{{pictureUrl}}">
            <canvas id="canvas" ng-src="{{canvas}}"></canvas>
          </div>
        </div>
        <div ng-disabled="disabled" ng-show="!disabled" class="move-me-right move-me-down padding top-right">
          <select id="color-palette" class="button button-block small-button" onchange="changeColor()">
            <option>black</option>
            <option>white</option>
            <option>blue</option>
            <option>red</option>
            <option>yellow</option>
            <option>green</option>
            <option>orange</option>
            <option>purple</option>
            <option>grey</option>
            <option>space cadet blue</option>
            <option>ugly green</option>
            <option>hot pink</option>
            <option>autumn orange</option>
            <option>robin egg blue</option>
            <option>royal purple</option>
            <option>indigo</option>
            <option>chocolate</option>
          </select>
          <select id="line-width" class="button button-block small-button" onchange="changeLineWidth()">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <div class="move-me-right padding bottom">
          <button ng-click="takePicture()" class="button button-block"><i class="icon ion-android-camera"></i></button>
          <button id="erase" ng-disabled="disabled" ng-show="!disabled" class="button button-block"><i class="icon ion-trash-a"></i></button>
          <button ng-click="savePicture()" ng-disabled="disabled" ng-show="!disabled" class="button button-block">
<i class="icon ion-android-done"></i></div></button>
        </div>
      </div>
    </ion-pane>
  </body>
</html>
